<div style="padding: 10px; background: linear-gradient(120deg, rgba(35,51,55,1) 0%, rgba(64,116,119,1) 90%);">
    <div class="container">
        <div class="header">
            <button (click)="navigateSignIn()" class="btn-signup">
                Sign In
            </button>
        </div>
        <div class="icon">
            <img class="icon-web" src="https://img.icons8.com/nolan/64/B0B0B0/2E2E2E/benzene-ring.png" />
        </div>
        <div class="card-login">
            <form [formGroup]="formRegister"  (ngSubmit)="onSubmitSignUp()" class="form-login">
                <mat-form-field class="input-login" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" name="email" id="email" matInput placeholder="Email">
                    
                </mat-form-field>
                <div *ngIf="formRegister.controls['email'].errors && formRegister.controls['email'].dirty" class="error-field" >
                    Email is required.
                  </div>

                <mat-form-field class="input-login" appearance="fill">    
                    <mat-label>User Name</mat-label>
                    <input formControlName="name" required name="userName" matInput placeholder="Username">
                </mat-form-field>
                <div *ngIf="formRegister.controls['name'].errors && formRegister.controls['name'].dirty"  class="error-field" >
                    Name is required.
                  </div>

                <mat-form-field class="input-login" matInput="password" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" required name="password" matInput type="password" placeholder="Password">
                </mat-form-field>
                <div *ngIf="formRegister.controls['password'].errors && (formRegister.controls['password'].dirty || formRegister.controls['password'].touched)" class="error-field" >
                    Password is required.
                  </div>
                <button [disabled]="formRegister.status === 'INVALID' ? true : false" type="submit" class="btn-login">Sign Up</button>
            </form>

        </div>
    </div>
</div>